body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-name{
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: #333333;
  box-shadow: inset 0 0 10px #555555;
}

.cv-generator{
  margin-left: 15rem;
  font-size: 3rem;
  color: white;
}

.input-container{
  display: flex;
  min-height: 100vh;
  max-height: 1200px;
  justify-content: space-evenly;
}

.cv-output, .cv-input{
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  width: 40%;
  border: 2px solid #333333;
  overflow: scroll;
  scrollbar-color: #333333 white;
}

.personal, .education, .work-experience, .skills{
  margin-left: 2.5rem;
}

hr{
  margin: 0 2rem 1rem 2rem;
  
}

.personal-style, .education-info, .work-container, .skill-contain, .button-submit{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  gap: 1rem;
  margin-left: 1.5rem;
}

.work-container{
  margin-top: 1rem;
}

.skill-contain{
  gap: 0.25rem;
}

.add-education, .add-work, .add-skill, .submit, .delete-education, .delete-skill, .delete-work, .print-cv, .clear-form{
  margin-right: 2rem;
  margin-top: 0.5rem;
  background-color: #333333;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 2rem;
  font-size: 1em;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 8rem;
  cursor: pointer;
}

input{
  border: none;
  border-bottom: #555555 solid 1px;
  margin-top: .5rem;
  width: 12rem;
}

input:focus{
  outline: #555555 solid 1px;
}

.contain-input{
  display: flex;
  flex-direction: column;
}

.add-education{
  grid-row: 3/4;
}

.experience-work{
  grid-column: 1/4;
  margin-right: 2rem;
}

/* .add-skill{
  grid-row: 2/3;
} */

/* .submit{
  margin: 0 2rem;
  width: 90%;
} */

.submit{
  grid-column: 2/3;
}

.personal-output{
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
}

.name-output{
  margin: 1rem 0;
}

.title-output{
  margin-top: 0;
}

.title-section{
  margin-left: 2rem;
}

.where-output > p{
  margin: 0.5rem 0;
  text-align: center;
}

.experience-output, .education-output{
  display: flex;
  justify-content: space-between;
}

.experience-date, .education-date{
  margin: 0 4rem;
}

.company-output, .education-dataoutput{
  margin-right: 4rem;
  width: 60%;
}

.company-output > p{
  margin: 0.75rem;
}

.skills-output, .print-button{
  margin: 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.print-cv, .clear-form{
  margin: 0.5rem 4rem;
  align-items: flex-start;
  
}

@media print {
  @page {
    size: portrait;
  }
  body * {
    visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    position: absolute;
    margin-top: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 90vh;
  }
}